<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<EventsList>
  <Event>
    <ID>0</ID>
    <name>dunno</name>
    <location>dunnox</location>
    <startingDate>
      <day>2</day>
      <month>12</month>
      <year>2022</year>
      <hour>2</hour>
      <minute>3</minute>
    </startingDate>
    <endingDate>
      <day>5</day>
      <month>12</month>
      <year>2122</year>
      <hour>12</hour>
      <minute>23</minute>
    </endingDate>
    <description>lalla</description>
    <playersIDs>
      <ID>1</ID>
      <ID>4</ID>
    </playersIDs>
    <comment>xax</comment>
    <link>xx</link>
  </Event>
  <Event>
    <ID>2</ID>
    <name>dunno</name>
    <location>dunnox</location>
    <startingDate>
      <day>2</day>
      <month>12</month>
      <year>2022</year>
      <hour>2</hour>
      <minute>3</minute>
    </startingDate>
    <endingDate>
      <day>5</day>
      <month>12</month>
      <year>2122</year>
      <hour>12</hour>
      <minute>23</minute>
    </endingDate>
    <description>lalla</description>
    <playersIDs>
      <ID>1</ID>
      <ID>4</ID>
    </playersIDs>
    <comment>xax</comment>
    <link>xx</link>
  </Event>
  <Event>
    <ID>3</ID>
    <name>dunno</name>
    <location>dunnox</location>
    <startingDate>
      <day>2</day>
      <month>12</month>
      <year>2022</year>
      <hour>2</hour>
      <minute>3</minute>
    </startingDate>
    <endingDate>
      <day>5</day>
      <month>12</month>
      <year>2122</year>
      <hour>12</hour>
      <minute>23</minute>
    </endingDate>
    <description>lalla</description>
    <playersIDs>
      <ID>1</ID>
      <ID>4</ID>
    </playersIDs>
    <comment>xax</comment>
    <link>xx</link>
  </Event>
</EventsList>
