<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<EventsList>
  <Event>
    <ID>0</ID>
    <name>bbb</name>
    <location>aaa</location>
    <fromDate>
      <day>3</day>
      <month>12</month>
      <year>2022</year>
    </fromDate>
    <fromHours>1</fromHours>
    <fromMinutes>2</fromMinutes>
    <toDate>
      <day>4</day>
      <month>12</month>
      <year>2022</year>
    </toDate>
    <toHours>1</toHours>
    <toMinutes>2</toMinutes>
    <description>aaa</description>
    <playersIDs/>
    <comment>aaa</comment>
    <link>aaa</link>
  </Event>
  <Event>
    <ID>1</ID>
    <name>ccc</name>
    <location>cccc</location>
    <fromDate>
      <day>1</day>
      <month>12</month>
      <year>2022</year>
    </fromDate>
    <fromHours>1</fromHours>
    <fromMinutes>2</fromMinutes>
    <toDate>
      <day>2</day>
      <month>12</month>
      <year>2022</year>
    </toDate>
    <toHours>1</toHours>
    <toMinutes>2</toMinutes>
    <description>ccc</description>
    <playersIDs/>
    <comment>ccc</comment>
    <link>ccc</link>
  </Event>
  <Event>
    <ID>2</ID>
    <name>aaa</name>
    <location>aaa</location>
    <fromDate>
      <day>1</day>
      <month>12</month>
      <year>2022</year>
    </fromDate>
    <fromHours>1</fromHours>
    <fromMinutes>2</fromMinutes>
    <toDate>
      <day>2</day>
      <month>12</month>
      <year>2022</year>
    </toDate>
    <toHours>1</toHours>
    <toMinutes>2</toMinutes>
    <description/>
    <playersIDs/>
    <comment/>
    <link/>
  </Event>
</EventsList>
