<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<EventsList>
  <Event>
    <ID>0</ID>
    <name>uhu</name>
    <location>jbhu</location>
    <fromDate>
      <day>2</day>
      <month>12</month>
      <year>2022</year>
    </fromDate>
    <fromHours>20</fromHours>
    <fromMinutes>0</fromMinutes>
    <toDate>
      <day>3</day>
      <month>12</month>
      <year>2022</year>
    </toDate>
    <toHours>22</toHours>
    <toMinutes>0</toMinutes>
    <description/>
    <playersIDs>
      <ID>0</ID>
    </playersIDs>
    <comment/>
    <link/>
  </Event>
  <Event>
    <ID>2</ID>
    <name>zzz</name>
    <location>zzz</location>
    <fromDate>
      <day>25</day>
      <month>12</month>
      <year>2022</year>
    </fromDate>
    <fromHours>1</fromHours>
    <fromMinutes>2</fromMinutes>
    <toDate>
      <day>26</day>
      <month>12</month>
      <year>2022</year>
    </toDate>
    <toHours>1</toHours>
    <toMinutes>2</toMinutes>
    <description/>
    <playersIDs/>
    <comment/>
    <link/>
  </Event>
  <Event>
    <ID>3</ID>
    <name>yyy</name>
    <location>yyy</location>
    <fromDate>
      <day>27</day>
      <month>12</month>
      <year>2022</year>
    </fromDate>
    <fromHours>1</fromHours>
    <fromMinutes>2</fromMinutes>
    <toDate>
      <day>28</day>
      <month>12</month>
      <year>2022</year>
    </toDate>
    <toHours>1</toHours>
    <toMinutes>2</toMinutes>
    <description/>
    <playersIDs>
      <ID>2</ID>
      <ID>3</ID>
    </playersIDs>
    <comment/>
    <link/>
  </Event>
</EventsList>
