<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<EventsList>
  <Event>
    <ID>0</ID>
    <name>aaa</name>
    <location>bbb</location>
    <fromDate>
      <day>4</day>
      <month>12</month>
      <year>2022</year>
    </fromDate>
    <fromHours>5</fromHours>
    <fromMinutes>6</fromMinutes>
    <toDate>
      <day>5</day>
      <month>12</month>
      <year>2022</year>
    </toDate>
    <toHours>5</toHours>
    <toMinutes>6</toMinutes>
    <description>bbb</description>
    <playersIDs/>
    <comment>bbb</comment>
    <link>bbb</link>
  </Event>
  <Event>
    <ID>1</ID>
    <name>Pavels birthdaz</name>
    <location>Annas bed room</location>
    <fromDate>
      <day>2</day>
      <month>12</month>
      <year>2022</year>
    </fromDate>
    <fromHours>20</fromHours>
    <fromMinutes>0</fromMinutes>
    <toDate>
      <day>3</day>
      <month>12</month>
      <year>2022</year>
    </toDate>
    <toHours>20</toHours>
    <toMinutes>0</toMinutes>
    <description/>
    <playersIDs/>
    <comment/>
    <link/>
  </Event>
  <Event>
    <ID>2</ID>
    <name>zzz</name>
    <location>zzz</location>
    <fromDate>
      <day>25</day>
      <month>12</month>
      <year>2022</year>
    </fromDate>
    <fromHours>1</fromHours>
    <fromMinutes>2</fromMinutes>
    <toDate>
      <day>26</day>
      <month>12</month>
      <year>2022</year>
    </toDate>
    <toHours>1</toHours>
    <toMinutes>2</toMinutes>
    <description/>
    <playersIDs/>
    <comment/>
    <link/>
  </Event>
  <Event>
    <ID>3</ID>
    <name>yyy</name>
    <location>yyy</location>
    <fromDate>
      <day>27</day>
      <month>12</month>
      <year>2022</year>
    </fromDate>
    <fromHours>1</fromHours>
    <fromMinutes>2</fromMinutes>
    <toDate>
      <day>28</day>
      <month>12</month>
      <year>2022</year>
    </toDate>
    <toHours>1</toHours>
    <toMinutes>2</toMinutes>
    <description/>
    <playersIDs/>
    <comment/>
    <link/>
  </Event>
</EventsList>
